body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  background: #000;
}

#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
